
#overlay {
    z-index: 999;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.5);
}

#logos {
    display: flex;
    flex-direction: row;
    }

.logo {
    margin: 20px;
    width: 100px;
    height: 60px;
}

#logohc {
    margin-top: 30px;
}

#popupbody {
    padding-left: 100px;
    padding-right: 100px;
    font-size: medium;    
    color: rgb(100,100,100);
}

#colofon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: small;
    color: rgba(60,60,60,1);
    padding: 20px;
    z-index: 9999;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /* padding-top:50px; */
    margin: 50px;
    background-color: white;
    border-radius: 3px;
}

#closebutton {
    color: rgba(100,100,100,1);
    align-self: flex-end;
    /* justify-self: flex-end; */
}