:root{
  --dark-primary-color:       #0097A7;
  --default-primary-color:    #00BCD4;
  --light-primary-color:      #B2EBF2;
  --text-primary-color:       #FFFFFF;
  --accent-color:             #009688;
  --primary-background-color: #B2EBF2;
  --primary-text-color:       #212121;
  --secondary-text-color:     #757575;
  --disabled-text-color:      #BDBDBD;
  --divider-color:            #BDBDBD;
}

html, body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: medium;
  width: 100vw;
  overflow: hidden;
}

#logo {
  width:200px;  
}
#app {
  height:100vh;
  width:100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.layerlistsection {
    border-top: 1px solid #d9d9d9;
    color: #212121;
    font-size: 13px;
    list-style-type: none;
    padding: 0px;
}

#main {
  width:100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex:1;
  background-color: white;
}

#buttonopenclose {
  z-index: 99;
  background-color: white;
  border-left: 0px;
  border-radius: 0px 5px 0px 0px;
  color: grey;
  transition: .3s;
  box-shadow: initial;
}

#buttonhidecontextpanel {
  z-index: 9;
  margin-left: -5px;
  background-color: white;
  border-left: 0px;
  border-radius: 5px 5px 0px 0px;
  color: grey;
  transition: .3s;
  box-shadow: initial;
}

#buttonhidecontextpanel:hover {
  color: #c0392b;
  transition: .3s;
  box-shadow: 5px 2px 2px 2px rgb(0 0 0 / 19%);
}


#locationmarker {
  height: 20px;
}

#pathmarker {
  height: 20px;
}


#polygonmarkerbutton {
  z-index: 88;
  border-radius: 0px 0px 5px 0px;
  background-color: white !important;
  border-left: 0px solid rgba(0, 0, 0, 0.12) !important;
  border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}


#colofonbutton:hover {
  z-index: 99;
  color: #c0392b;
  transition: .3s;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);  
}

#colofonbutton {
  z-index: 88;
  max-width:47px;
  max-height: 44px;
  color: rgba(0,0,0,0.38);
  border-radius: 0px 0px 5px 0px;
  background-color: white !important;
  border-left: 0px solid rgba(0, 0, 0, 0.12) !important;
  border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}


#sourcesbutton:hover {
  z-index: 99;
  color: #c0392b;
  transition: .3s;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);  
}

#sourcesbutton {
  z-index: 88;
  max-width:47px;
  max-height: 44px;
  color: rgba(0,0,0,0.38);
  border-radius: 0px 0px 5px 0px;
  background-color: white !important;
  border-left: 0px solid rgba(0, 0, 0, 0.12) !important;
  border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

#manualbutton:hover {
  z-index: 99;
  color: #c0392b;
  transition: .3s;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);  
}

#manualbutton {
  z-index: 88;
  max-width:47px;
  max-height: 44px;
  color: rgba(0,0,0,0.38);
  border-radius: 0px 0px 5px 0px;
  background-color: white !important;
  border-left: 0px solid rgba(0, 0, 0, 0.12) !important;
  border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}



#polygonmarkerbutton:hover {
  z-index: 99;
  color: #c0392b;
  transition: .3s;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);  
}


#polygonmarker {
  height: 20px;
}

.buttonfeaturetype {
  z-index: 88;
  background-color: white !important;
  border-left: 0px solid rgba(0, 0, 0, 0.12) !important;
  border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-bottom: 0px solid rgba(0, 0, 0, 0.12) !important;
  border-radius: 0px 0px 0px 0px !important;
  /* color: grey !important; */
  /* transition: .3s !important; */
  /* box-shadow: initial !important; */
}

.buttonfeaturetype:hover {
  z-index: 99;
  color: #c0392b;
  transition: .3s;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}

#buttonopenclose:hover {
  color: #c0392b;
  transition: .3s;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}


#panelcontent {
  background-color: white;
  padding: 10px 10px 10px 10px;
  width:300px;
  height: 100%;
}

#buttons {
  background-color: transparent;
  flex: 1;
  margin-top: 50px;
}


#buttons:hover {
  z-index: 99;
  transition: .3s;
  box-shadow: 5px 2px 2px 2px rgb(0 0 0 / 19%);
    /* box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);   */
}

#layerpanel {
  z-index: 888;
  transition: all 0.4s;
  display: flex;
  align-items: flex-start;
  transform: translateX(0px);
  will-change: transform;
  width:360px;
  bottom: 0px;
  top: 0px;
  /* padding: 10px 10px 10px 10px; */
  background-color: transparent;
  position: absolute;
  left: 0px;
  /* box-shadow: 3px 3px 10px rgb(150, 150, 150); */
  /* border-radius: 0px 10px 10px 0px; */
}

#layerpanel.closed {
  transform: translateX(-320px);
}

#togglebutton {
  z-index: 888;
  background-color: var(--accent-color);
  will-change: transform;
  transform: scale(0,0);
  transition: transform 0.4s ease-in-out;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 10px;
  color: white;
  width:50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

#closebutton {
  position: absolute;
  top: 10px;
  right: 20px;
  color:var(--accent-color);  
  width:50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
}

#togglebutton.closed {
  transform: scale(1,1);
}

#closecontextbutton {
  position: absolute;
  top: 10px;
  left: 20px;
  color:var(--accent-color);  
  width:50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
}


#layerpanel-toggle {
  background-color: var(--accent-color);
  border-radius: 50%;
  display: block;
  height: 2.2rem;
  right: -40px;
  top: 30px;
  position: absolute;
  text-decoration: none;
  top: 7px;
  width: 2.2rem;
}
#layerpanel-toggle::after {
  content: "🡐";
  color: white;
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  margin: -.2rem 0 0 0;
  text-align: center;
}
.no-layerpanel #layerpanel-toggle::after {
  content: "🡒";
  margin-left: .2rem;
}

#layerpanel-toggle:hover {
  /* background-color: goldenrod; */
}

#charttitle {
  font-size:18  px;
  color: darkgray;
  margin-left: 0px;
  padding: 10px;
}

#chartcontainer {
  flex:1;
  top: 30px;
  margin: 10px;
}


#plaatsnamen {
  display: flex;
  justify-content: space-between;
  padding-left:40px;
  padding-right:20px;
  color:#D60059;
}

#contextcontent {
  display:flex;
  flex:1;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  color: darkgray;
  font-size: 13px;
  bottom: 0px;
  top: 0px;
  /* margin-top: 60px; */
}

.profileLegend {
  display:flex;
  margin-left: 40px;
  margin-right: 10px;
}

#bol {
  width: 14px;
  height:14px;
  background-color: #D60059;
  border-radius: 50%;
  margin-top:5px;
}

#lijn {
  flex:1;
  background-color: #D60059;
  margin-top:10px;
  height:3px;
}

#pijl {
  position: relative;
  width:20px;
  height:20px;
  color: #D60059;
  font-size: 20px;
  left: -5px;
}


#contextpanel {
  z-index: 9999;
  transition: max-height 0.4s;
  display: flex;
  height: auto;
  max-height: 20px; 
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
  position: absolute;
  pointer-events: none;
  /* box-shadow: 3px 3px 10px rgb(150, 150, 150); */
  /* border-radius: 10px 0px 0px 10px; */
  z-index:888;
}

#contextpanelcontent {
  z-index: 99;
  background-color: white;
  padding-bottom: 20px;
  flex: 1;
  width:100%;
}

#contextpanelbuttons {
  background-color:transparent;
  height: 40px;
  pointer-events: all;
}

#contextpanel.opened.right {
  transform: translateX(0px);
}

#contextpanel.opened.bottom {
  /* transform: translateY(0px); */
  max-height: 400px;
}

#wait {
  width:100%;
  height: 290px;  
  align-self: center;
  pointer-events: all;
  text-align: center;
  margin-top: 50px;
}

#contextpanel.right {
  transform: translateX(300px);
  width:300px;
  bottom: 0px;
  top: 0px;
  right: 0px;
}

#contextpanel.bottom {
  /* transform: translateY(400px); */
  /* height: 20px; */
  /* width:100%; */
  bottom: 0px;
  /* height: 400px; */
  right: 0px;
}

#contextpanel.bottom.fullwidth {
  left: 0px;
}

#contextpanel.bottom.compactwidth {
  left: 310px;
}

#map {
  flex:1;
  /* background-color: blueviolet; */
}

.arrow-icon {
  width: 20px;
  height: 20px;
  top: -7.5px
}

  .arrow-icon > div {
      margin-left: -1px;
      margin-top: 0px;
      transform-origin: center center;
      font: 18px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
      color: #D60059;
  }

#footer {
  height:0px;
  background-color: seagreen;
}
/* 
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width:800px){
  #map {
    flex:1;
    /* background-color: gold; */
  }
}


.toggleButton {
  padding:20px;
  user-select: none;
}

.toggleButton.selected {
  color: var(--accent-color)
}

.toggleButtonContainer {
  display:flex;
  justify-content: flex-start;
}

.toggleButtonContainer i {
  margin-right: 10px;
}

/* 
<svg height="100" width="100">
  <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" />
</svg> */

.my-div-icon {
  /* background-image: url('logo.svg'); */
  border-radius: 50%;
  background-color: #D60059;
}

#logoDaniel {
  width: 60%;
}

#logoSiebe {
  margin-top: 20px;
  width: 65%;
}
