<html>
  <div id="feedback-container" class="feedback-modal">
    <div class="feedback-modal-content">
      <div id="feedback-node-id"></div>
      <span id="feedback-close-button" class="feedback-close-button">&times;</span>

      <form id="feedback-form">
        <label for="feedback-reviewer">Reviewer:</label>
        <input type="text" id="feedback-reviewer" name="reviewer" maxlength="100" required />
        <label for="feedback-input">Feedback (max 100 characters):</label>
        <input type="text" id="feedback-input" name="feedback" maxlength="100" required />

        <button type="submit" class="feedback-submit-button">indienen</button>
      </form>
    </div>
  </div>
</html>
