<!--base with layout-->
{% extends "base.html" %}

<!--map container-->
{% block map_content %} {% include "map.html" %} {% endblock %}

<!--info container-->
{% block info_container %} {% include "info_container.html" %} {% endblock %}

<!--search container-->
{% block search_container %} {% include "search_container.html" %} {% endblock %}

<!--layers selector container-->
{% block layers_selector %} {% include "layers_selector.html" %} {% endblock %}

<!--feedback container-->
{% block feedback_container %} {% include "feedback_container.html" %} {% endblock %}
