<html>
  <script type="text/javascript">
    var projectionExtent = [-285401.92, 22598.08, 595401.9199999999, 903401.9199999999];
    var projection = new ol.proj.Projection({
      code: 'EPSG:28992',
      units: 'm',
      extent: projectionExtent,
    });
    // Background layers
    var brtWaterLayer = new ol.layer.Tile({
      source: new ol.source.XYZ({
        url: 'https://service.pdok.nl/brt/achtergrondkaart/wmts/v2_0/water/EPSG:28992/{z}/{x}/{y}.png',
        format: 'image/png',
        projection: projection,
        matrixSet: 'EPSG:28992',
        style: 'default',
        tileGrid: new ol.tilegrid.WMTS({
          origin: ol.extent.getTopLeft(projectionExtent),
          resolutions: [
            3440.64, 1720.32, 860.16, 430.08, 215.04, 107.52, 53.76, 26.88, 13.44, 6.72, 3.36, 1.68, 0.84, 0.42,
          ],
          matrixIds: [
            'EPSG:28992:0',
            'EPSG:28992:1',
            'EPSG:28992:2',
            'EPSG:28992:3',
            'EPSG:28992:4',
            'EPSG:28992:5',
            'EPSG:28992:6',
            'EPSG:28992:7',
            'EPSG:28992:8',
            'EPSG:28992:9',
            'EPSG:28992:10',
            'EPSG:28992:11',
            'EPSG:28992:12',
            'EPSG:28992:13',
          ],
        }),
      }),
    });
    var lufoLayer = new ol.layer.Tile({
      source: new ol.source.TileWMS({
        extend: [-2000.0, 290000.0, 294000.0, 630000.0],
        url: 'https://service.pdok.nl/hwh/luchtfotorgb/wms/v1_0',
        params: {
          LAYERS: 'Actueel_orthoHR',
          TILED: 'true',
        },
      }),
    });

    // Search layer
    const pointIconStyle = new ol.style.Style({
      image: new ol.style.Icon({
        src: './static/icons/location_sign_red.svg',
        //size: 25
        scale: 0.05, // Adjust scale as necessary
        anchor: [0.5, 1], // Align at bottom-center
      }),
    });

    // Define polygon style with red line and fill
    const polygonStyle = new ol.style.Style({
      fill: new ol.style.Fill({
        color: 'rgba(255, 0, 0, 0.4)', // Red fill with some transparency
      }),
      stroke: new ol.style.Stroke({
        color: 'red',
        width: 2,
      }),
    });

    const labelStyle = (feature) => {
      return new ol.style.Style({
        text: new ol.style.Text({
          text: feature.get('naam'),
          textAlign: 'right',
          offsetY: 0, // Adjust offset values to place labels at a convenient location
          offsetX: -20, // Adjust offset values to place labels at a convenient location
          fill: new ol.style.Fill({
            color: 'black',
          }),
          font: '14px Calibri,sans-serif',
          stroke: new ol.style.Stroke({
            color: 'white',
            width: 1,
          }),
        }),
      });
    };

    // Style function for search layer
    function styleFunction(feature) {
      const geometryType = feature.getGeometry().getType();

      // Determine if the feature is a point or a polygon and style accordingly
      let baseStyle;
      if (geometryType === 'Point' || geometryType === 'MultiPoint') {
        baseStyle = pointIconStyle;
      } else if (geometryType === 'Polygon' || geometryType === 'MultiPolygon') {
        baseStyle = polygonStyle;
      }

      // Return both the base style and label style
      return [baseStyle, labelStyle(feature)];
    }
    var geoJsonObj = {
      type: 'FeatureCollection',
      features: [],
    };
    var searchSource = new ol.source.Vector({
      features: new ol.format.GeoJSON().readFeatures(geoJsonObj, {
        featureProjection: 'EPSG:28992',
      }),
    });

    var searchLayer = new ol.layer.Vector({
      source: searchSource,
      style: styleFunction,
    });

    // Map definition
    var view = new ol.View({
      center: [155000, 463000],
      zoom: 3.4,
      projection: projection,
    });

    // Adjust zoom for mobile view
    if (window.innerWidth <= 767) {
      view.setZoom(2.5); // Adjust the initial zoom level for mobile
      view.setCenter([145000, 350000]); // Set a new center for mobile
    }

    // Adjust zoom for mobile view
    if (window.innerWidth <= 400) {
      view.setZoom(2.5); // Adjust the initial zoom level for mobile
      view.setCenter([145000, 410000]); // Set a new center for mobile
    }

    const zoomControl = new ol.control.Zoom({
      className: 'custom-zoom',
    });
    var map = new ol.Map({
      controls: [zoomControl],
      layers: [brtWaterLayer],
      target: 'map',
      view: view,
    });

    // Initialize an empty array to store OpenLayers layers
    const layerInfo = [
      ['ribasim:StorageBasinArea', 'gebied.svg', 'aan-/afvoergebied'],
      ['ribasim:WaterBasinArea', 'watervlak.svg', 'watervlak'],
      ['ribasim:WaterEdge', 'waterlijn.svg', 'waterlijn'],
      ['ribasim:WaterManningResistance', 'manning_resistance.svg', 'manning-weerstand'],
      ['ribasim:WaterPump', 'gemaal.svg', 'gemaal', 'Pump'],
      ['ribasim:WaterOutlet', 'constant.svg', 'in-/uitlaat (constant)'],
      ['ribasim:WaterTabulatedRatingCurve', 'qh.svg', 'in-/uitlaat (qh)'],
      ['ribasim:WaterUserDemand', 'gebruiker.svg', 'gebruiker'],
      ['ribasim:FlowBoundary', 'flow_boundary.svg', 'Q-randvoorwaarde'],
      ['ribasim:LevelBoundary', 'level_boundary.svg', 'H-randvoorwaarde'],
    ];
    const openLayers = [];
    const mapLayers = new ol.layer.Group({ layers: [] }); // Group to hold all layers

    // Iterate over the list of layer metadata
    layerInfo.forEach(([layerName, iconFilename, customLabel]) => {
      const source = new ol.source.TileWMS({
        url: '{{ geoserver_url }}/geoserver/wms',
        params: {
          LAYERS: layerName,
          TILED: 'true',
        },
        serverType: 'geoserver',
      });

      // Create a layer for each source
      const layer = new ol.layer.Tile({
        source: source,
        visible: true, // Initially visible
      });

      // Store layer with its name for easy toggling
      openLayers.push({ name: layerName, layer: layer });

      // Add layer to the map group
      mapLayers.getLayers().push(layer);
    });

    // Add the layer group to the OpenLayers map

    // mapLayers.getLayers().push(searchLayer);
    map.addLayer(mapLayers);
    map.addLayer(searchLayer);

    var selectedFeature = null;

    map.on('singleclick', function (evt) {
      const viewResolution = map.getView().getResolution();
      const viewProjection = map.getView().getProjection();
      const clickedCoordinate = evt.coordinate;

      // clear selection
      selectedNode = null;
      searchSource.clear();

      // get layers filter
      const visibleLayers = mapLayers
        .getLayers()
        .getArray()
        .filter((layer) => layer.getVisible());

      const ignore_layers = ['ribasim:WaterEdge'];

      const queryLayers = visibleLayers
        .map((layer) => {
          const source = layer.getSource();
          if (source instanceof ol.source.TileWMS) {
            const layerName = source.getParams().LAYERS;
            return !ignore_layers.includes(layerName) ? layerName : null;
          }
          return null;
        })
        .filter(Boolean)
        .join(',');

      // OpenInfo or CloseInfo when clicked on the map

      fetch(
        `{{app_url}}/node?x=${clickedCoordinate[0]}&y=${clickedCoordinate[1]}&tolerance=${
          viewResolution * 5
        }&layers=${queryLayers}`,
      )
        .then((response) => response.json())
        .then((geo_json) => {
          // put icon on the map
          if (geo_json) {
            const geoJsonFormat = new ol.format.GeoJSON();

            // Read all features from the GeoJSON object at once
            const features = geoJsonFormat.readFeatures(geo_json, {
              featureProjection: 'EPSG:28992',
            });

            // Add all features to the searchSource in one operation
            searchSource.addFeatures(features);
            selectedNode = geo_json.features[0].properties.node_id;
            document.getElementById('feedback-node-id').innerHTML = '<h3> node_id: ' + selectedNode + '</h3>';

            openInfo(selectedNode);
          } else {
            closeInfo();
          }
        });
    });
  </script>
</html>
